.three_dots{
    padding-left: 0px;
    padding-right: 0px;
    border-width: 0px;
    background-color: #f7f7f7;
    font-size: 16px;
    float: right;
}

.three_dots:focus{
    outline-color: #f7f7f7;
}

.three_dots:hover{
    color: grey;
}

.three_dots + ul{
    position: static;
    float: right;
    font-size: 13px;
    min-width: 130px;
}

.open > .dropdown-menu {
    display: flex;
}

.contact_us_container .form_holder button.btn-review {
    font-family: 'Raleway', sans-serif;
    font-size: 0.875em;
    padding: 0 30px;
    color: #fff;
    background: #12a0b1;
    text-transform: capitalize;
    border: none;
    outline: none;
    line-height: 33px;
    border-radius: 3px;
    margin-top: 10px;
    margin-left: 15px;
    float: right;
}

.contact_us_container .form_holder button.btn-review:after{
    background-color: rgba(255, 205, 71, 0);
}

.contact_us_container .form_holder button.btn-review:before{
    background-color: rgba(255, 205, 71, 0);
}

div.form_holder.form_universal {
    margin-bottom: 35px;
}