{% load staticfiles %}
<section class="p0 container-fluid banner about_banner"
style="background:url({% static 'vendors/img/banner-bg.jpg' %}) no-repeat center">
    <div class="about_banner_opacity">
        <div class="container">
            <div class="banner_info_about">
                <h1>{{ this_section }}</h1>
                <ul>
                    <li><a href="{{ prev_selection_url|default:'/'}}">{{ prev_selection|default:"Главная" }}</a></li>
                    <li><i class="fa fa-angle-right"></i></li>
                    <li>{{ this_section }}</li>
                </ul>
            </div> <!-- End Banner Info -->
        </div> <!-- End Container -->
    </div> <!-- End Banner_opacity -->
</section> <!-- End Banner -->