{% extends "main/main.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block add_css %}
    <!-- owl-carousel css -->
    <link href="{% static 'vendors/css/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/css/owl.theme.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}О компании{% endblock %}
{% block body_class %}about{% endblock %}

{% block content %}
<!-- ======= Banner ======= -->
{% include 'generic/banner.html' with this_section="О компании"%}
<!-- ================= /Banner ================ -->

<!-- ============ Our history ========== -->
<section class="history_sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 left-side">
                <h2>Наша история</h2>
                <p>{{ static_dates.history }}</p>
            </div>
            <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12 right_side">
                <img class="img-responsive" src="{% thumbnail static_dates.mission_img "mission" %}" alt="image">
                <h3>Миссия компании</h3>
                <p>{{ static_dates.mission }}</p>
            </div>
        </div>
    </div>
</section>
<!-- ============ /Our history ========== -->

<!-- ==========Value Of our Company ======= -->
<section class="company_value_sec">
    <div class="company_value_opacity">
        <div class="container">
            <div class="company_value_heading">
                <div class="title-box" style="width: 310px">
                    <h2>Гордость нашей <br>Компании</h2>
                </div>
                <div class="text-box">
                    <p>{{ static_dates.value_company }}</p>
                </div>
            </div> <!-- End Row -->
            <div class="row value_fact">
            {% for value in static_dates.fourvaluescompany_set.all %}
                <span class="timer" data-from="{{ value.get_start_number }}" data-to="{{ value.number }}" data-speed="5000" data-refresh-interval="50">{{ value.number }}</span>
                <p {% if forloop.last %}class="case"{% endif %}>{{ value.desc1 }}<br>{{ value.desc2 }}</p>
            {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- ==========/Value Of our Company ======= -->

<!-- ======= Testimonial & Company Values ======= -->
{% include 'generic/employers_and_values.html' with employees=employees values_company=values_company %}
<!-- ======= /Testimonial & Company Values ======= -->

{% endblock %}

{% block add_js %}
    <script type="text/javascript" src="{% static 'vendors/js/owl.carousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/js/owl-custom.js' %}"></script>
{% endblock %}