{% extends "main/main.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}Услуги{% endblock %}

{% block add_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/bootstrap.vertical-tabs.css' %}">
{% endblock %}

{% block body_class %}service2{% endblock %}


{% block content %}
<!-- ======= Banner ======= -->
{% include 'generic/banner.html' with this_section="Услуги"%}
<!-- ================= /Banner ================ -->

<section class="side_tab">
    <div class="container">
        <div class="row">
            <div class="white_bg right_side col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right">
                <div class="tab_details">
                    <!-- Tab panes -->
                    <div class="tab-content right_info">
                    {% for object in object_list  %}
                        <div
                        {% if forloop.first %}
                            class="tab-pane fade in row active" id="{{ object.id }}">
                        {% else %}
                            class="tab-pane fade row" id="{{ object.id }}">
                        {% endif %}
                            <img class="img-responsive" src="{% thumbnail object.main_img 'srvc_main' %}" alt="image">
                            <h2>{{ object.title }}</h2>
                            {% autoescape off %}<p>{{ object.content }}</p>{% endautoescape %}
                        </div>
                    {% endfor %}
                    </div>
                </div> <!-- End tab_details -->
                <!-- !!!!!!!!!!!!!!!!!!-->
                <div class="market_strategy">
                    <div class="market_title_holder float_left">
                        <h3>СТРАТЕГИИИИЯЯЯ</h3>
                        <p>LФЫВФЫВФЫВФЫВФЫВФЫВФЫВФЫВФЫАЫВАЫВАЫВАЫФВelit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br> <br>
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    </div>
                    <img class="img-responsive float_right" src="images/service/12.jpg" alt="">
                </div>
                <div class="market_strategy">
                    <div class="market_title_holder float_right">
                        <h3>Market Strategy</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br> <br>
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    </div>
                    <img class="img-responsive float_left" src="images/service/12.jpg" alt="">
                </div>
                <div class="clear_fix"></div>
                <div class="bottom_tab">
                    <ul class="nav nav-tabs">
                      <li class="active"><a data-toggle="tab" href="#tab_1">Benefits</a></li>
                      <li><a data-toggle="tab" href="#tab_2">Mutual Funds</a></li>
                      <li><a data-toggle="tab" href="#tab_3">Company Growth</a></li>
                    </ul>
                    <div class="tab-content bottom_tab_info">
                      <div id="tab_1" class="tab-pane fade in active">
                        <img class="img-responsive" src="images/service/13.jpg" alt="">
                        <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br> <br>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                      </div>
                      <div id="tab_2" class="tab-pane fade">
                        <img class="img-responsive" src="images/service/13.jpg" alt="">
                        <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br> <br>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                      </div>
                      <div id="tab_3" class="tab-pane fade">
                        <img class="img-responsive" src="images/service/13.jpg" alt="">
                        <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br> <br>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                      </div>
                    </div>
                </div> <!-- /!!!!!!!!!!!!!!!!!!-->
            </div> <!-- End white_bg -->
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pull-left left_side_bar"> <!-- required for floating -->
              <!-- Nav tabs -->
              <ul class="nav nav-tabs tabs-left"><!-- 'tabs-right' for right tabs -->
                {% for object in object_list  %}
                    <li{% if forloop.first %} class="active"{% endif %}>
                        <a href="#{{ object.id }}" data-toggle="tab"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ object.title }}</a>
                    </li>
                {% endfor %}
              </ul>
              <div class="advisor_side"> <!-- Advisor profile & Download option -->
                <h3>Company Brochure </h3>
                <a href=""><i class="fa fa-download"></i>&nbsp;&nbsp;&nbsp;&nbsp;Download Brochure PDF</a>
                <a href=""><i class="fa fa-download"></i>&nbsp;&nbsp;&nbsp;&nbsp;Download Brochure Doc File</a>
              </div> <!-- End Advisor profilr & Download option-->
            </div>
        </div> <!-- End row -->
    </div> <!-- End container -->
</section>

{% endblock %}
